.idea/
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/.env
saas-book-examples/chap8/rottenpotatoes-rails/coverage/
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/coverage/
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/tmp/
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/db/*.sqlite3
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/log/*.log
assignments/hw-5-acceptance-unit-test-cycle/rottenpotatoes/.byebug_history

saas-book-examples/chap8/rottenpotatoes-rails/.byebug_history
saas-book-examples/chap8/rottenpotatoes-rails/.env
saas-book-examples/review/chap8/rottenpotatoes/coverage/

assignments/review/hw-5-acceptance-unit-test-cycle/rottenpotatoes/tmp/
assignments/review/hw-5-acceptance-unit-test-cycle/rottenpotatoes/log/